.message-card-header {
   padding: 3px 10px 3px 3px;
}

.message-card-body {
  padding: 7px 15px 7px 7px;
}

.chat-message {
   margin: 10px;
}

.user-message {
  background-color: #fff0d1;
  text-align: left;
}

.admin-message {
  background-color: white;
  text-align: right;
}

.form-padding {
  padding: 10px;
}

.scroll {
  max-height: 60vh;
  overflow-y: auto;
}
