<div class="container-fluid workspace">
  <div class="row">
    <div class="col-md-4">
      <div class="card" *ngIf="signalR.users.length > 0">
        <div class="card-header violet-bg-color white-text-color">
          Users
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let user of signalR.users"
              class="list-group-item list-group-item-action"
              [class.selected]="user == selectedUser"
              (click)="onSelect(user)">
            {{user.name}}
            <i class="material-icons email-icon-style" *ngIf="user.hasNewMessages">email</i>
            <i class="material-icons notes-icon-style" (click)="showNotes(user)">notes</i>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <app-chat [user]="selectedUser"></app-chat>
    </div>
  </div>
</div>
