@model UserViewModel
@{
}
<div class="container">
    @if (Model.AllUsers.Count > 0)
    {
        <div class="row">
            <div class="col">
                <div class="list-group">
                    @foreach (User user in Model.AllUsers)
                    {
                        <a asp-route-id="@user.Id" asp-action="User" asp-controller="Home" class="list-group-item list-group-item-action">
                            @user.Name
                        </a>
                    }
                </div>
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    }
    else
    {
        <h2>
            Нет подключенных пользователей
        </h2>
    }
</div>